# This notebook is used to combine the sub-chapter level prescription data and diabetes clustered data based on practice code

In [1]:
import pandas as pd

In [2]:
# Update the clusters from ClusterDiabetics.csv generated using ClusterAnalysis jupyter notebook
ClusterDiabetes = pd.read_csv('./ClusterDiabetics.csv', sep=',', encoding = "ISO-8859-1")

In [3]:
# Load PracticeBySubChapterSum.csv into a new DataFrame - PracticeBySubChapterSum.csv
PracticeBySubChapterSum = pd.read_csv('./PracticeBySubChapterSum.csv', sep=',', encoding = "ISO-8859-1")

In [5]:
ClusterFeatures = ['PRACTICE', 'ClusterNumber']

In [6]:
PracticeByCluster = ClusterDiabetes[ClusterFeatures]

In [8]:
PracticeBySubChapterSum.columns

Index(['PRACTICE', 'SUB_CHAPTER', 'ITEMS  ', 'NIC        ', 'ACT COST   ',
       'QUANTITY', 'PERIOD'],
      dtype='object')

In [10]:
PracticeBySubChapterSumMerged = PracticeBySubChapterSum.merge(PracticeByCluster, left_on='PRACTICE', right_on='PRACTICE', how='inner')
PracticeBySubChapterSumMerged.head()

,PRACTICE,SUB_CHAPTER,ITEMS,NIC,ACT COST,QUANTITY,PERIOD,ClusterNumber
0,A81001,101010,3,42.41,39.52,892,605136,3
1,A81001,101021,59,262.66,244.23,28152,1815408,3
2,A81001,102000,36,198.62,186.03,3081,1210272,3
3,A81001,103010,29,29.53,30.13,1744,403424,3
4,A81001,103030,1,138.60,128.39,112,201712,3

In [12]:
PracticeBySubChapterSumMerged.drop(columns=['PERIOD'])

,PRACTICE,SUB_CHAPTER,ITEMS,NIC,ACT COST,QUANTITY,ClusterNumber
0,A81001,101010,3,42.41,39.52,892,3
1,A81001,101021,59,262.66,244.23,28152,3
2,A81001,102000,36,198.62,186.03,3081,3
3,A81001,103010,29,29.53,30.13,1744,3
4,A81001,103030,1,138.60,128.39,112,3
5,A81001,103050,382,781.72,734.12,14147,3
6,A81001,104020,8,33.99,32.10,626,3
7,A81001,105010,27,965.11,895.49,3592,3
8,A81001,106010,21,146.76,136.29,1972,3
9,A81001,106020,78,338.43,320.33,7835,3
10,A81001,106040,63,315.16,294.34,10932,3
11,A81001,107010,2,5.95,5.54,55,3
12,A81001,107020,3,18.72,17.38,70,3
13,A81001,107040,2,78.60,72.83,60,3
14,A81001,109010,5,141.75,131.86,286,3
15,A81001,109040,7,667.97,618.92,2268,3
16,A81001,201010,19,41.55,38.83,777,3
17,A81001,202010,92,131.41,123.47,4324,3
18,A81001,202020,92,81.84,78.46,3597,3
19,A81001,202030,20,305.40,283.24,798,3
20,A81001,202040,6,9.45,8.83,280,3
21,A81001,203020,5,142.40,132.06,284,3
22,A81001,204000,289,478.47,450.06,12378,3
23,A81001,205010,1,14.79,13.81,84,3
24,A81001,205020,1,4.50,4.28,56,3
25,A81001,205040,23,72.09,67.05,2072,3
26,A81001,205051,266,492.93,461.78,10951,3
27,A81001,205052,108,314.77,293.90,3906,3
28,A81001,206010,57,207.95,194.44,2903,3
29,A81001,206020,217,893.72,832.72,9449,3
...,...,...,...,...,...,...,...
1641811,Y05291,2250100,2,61.12,56.63,20,3
1641812,Y05291,2250265,1,20.72,19.20,10,3
1641813,Y05291,2250488,1,71.82,66.54,30,3
1641814,Y05291,2260050,2,48.00,44.49,60,3
1641815,Y05291,2260100,4,52.68,48.85,80,3
1641816,Y05291,2260265,1,6.39,5.93,30,3
1641817,Y05291,2260505,1,7.41,6.88,30,3
1641818,Y05291,2305070,3,56.70,52.54,90,3
1641819,Y05291,2315010,6,84.96,78.70,12,3
1641820,Y05291,2315090,1,9.47,8.78,1,3
1641821,Y05291,2315336,1,8.98,8.33,50,3
1641822,Y05291,2330026,2,109.68,101.61,2,3
1641823,Y05291,2335010,2,517.58,479.42,180,3
1641824,Y05291,2335410,2,290.00,268.65,100,3
1641825,Y05291,2345100,1,8.53,7.90,1,3
1641826,Y05291,2345336,1,4.97,4.62,1,3
1641827,Y05291,2360010,1,105.56,97.78,30,3
1641828,Y05291,2360070,3,374.58,346.99,90,3
1641829,Y05291,2360100,4,398.52,369.19,120,3
1641830,Y05291,2380029,15,51.28,47.68,15,3
1641831,Y05291,2380090,1,25.38,23.51,1,3
1641832,Y05291,2380209,1,9.94,9.22,1,3
1641833,Y05291,2380310,16,90.08,83.62,17,3
1641834,Y05291,2380480,1,7.74,7.17,1,3
1641835,Y05291,2385010,1,202.50,187.57,90,3
1641836,Y05291,2385070,2,136.58,126.52,60,3
1641837,Y05291,2394010,2,114.25,105.83,45,3
1641838,Y05291,2394480,2,139.83,129.52,60,3
1641839,Y05291,2396100,1,119.60,110.80,20,3
1641840,Y05291,2396410,1,209.40,193.96,40,3

In [13]:
# Save combined data into PracticeBySubChapterClustered.csv
PracticeBySubChapterSumMerged.to_csv("PracticeBySubChapterClustered.csv", sep=',')

In [23]:
# Filter the combined data by cluster and save it & Save data into PracticeBySubChapterByCluster.csv
UniqueClusters = PracticeBySubChapterSumMerged['ClusterNumber'].unique()
for cluster in UniqueClusters:
    ClusterFilter = PracticeBySubChapterSumMerged['ClusterNumber'] == cluster
    PracticeBySubChapterByClusterData = PracticeBySubChapterSumMerged[ClusterFilter]
    ClusterFileName = "PracticeBySubChapterByCluster_" + str(cluster) + ".csv"
    PracticeBySubChapterByClusterData.to_csv(ClusterFileName, sep=',')